{% extends 'central/base.html' %}
{% load static %}

<!--title -->
{% block title %}
Home
{% endblock title %}

{% block css %}

{% comment %} <link rel="stylesheet" href="{% static 'css/about_us.css' %}"> {% endcomment %}

{% endblock css %}

{% block buttons %}

{% endblock buttons %}


{% block content %}
<main role="main" style="background-color:white;">
<div class="jumbotron text-center">
    <div class="container mt-5">
        <h1 class="display-4">Welcome to Novus Aurelius</h1>
        <p class="lead">Your Gateway to Cutting-Edge Algorithmic Solutions for Profitable Trading</p>
        <hr class="my-4">
        <p>Discover the power of data-driven trading with Novus Aurelius. Embrace the future of algorithmic solutions and take your trading journey to new heights. The markets are ever-changing, but with Novus Aurelius, you can stay one step ahead.</p>

        {{payment_button.render}}
    </div>
</div>
<div class="text-left mx-4 mb-4">

</div>
</main>
{% endblock content %}

{% comment %} <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> {% endcomment %}